[submodule "cube_solver"]
	path = cube_solver
	url = https://github.com/kingofdelphi/cube_solver
[submodule "bicycle"]
	path = bicycle
	url = https://github.com/kingofdelphi/bicycle
[submodule "neverball"]
	path = neverball
	url = https://github.com/kingofdelphi/neverball
[submodule "2d_physics_engine"]
	path = 2d_physics_engine
	url = https://github.com/kingofdelphi/2d_physics_engine
[submodule "car_game"]
	path = car_game
	url = https://github.com/kingofdelphi/car_game.git
